In [12]:
import pandas as pd    

#call all fns on pd.
a=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", header=None)

a.shape   #tell dimension

(150, 5)

In [13]:
a.head(10)    #10 entries from top

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa
5  5.4  3.9  1.7  0.4  Iris-setosa
6  4.6  3.4  1.4  0.3  Iris-setosa
7  5.0  3.4  1.5  0.2  Iris-setosa
8  4.4  2.9  1.4  0.2  Iris-setosa
9  4.9  3.1  1.5  0.1  Iris-setosa

In [14]:
a.tail(5)        #5 entry from bottom

       0    1    2    3               4
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [15]:
a.sample(20)      #any 20 random entry

       0    1    2    3                4
0    5.1  3.5  1.4  0.2      Iris-setosa
76   6.8  2.8  4.8  1.4  Iris-versicolor
87   6.3  2.3  4.4  1.3  Iris-versicolor
125  7.2  3.2  6.0  1.8   Iris-virginica
2    4.7  3.2  1.3  0.2      Iris-setosa
32   5.2  4.1  1.5  0.1      Iris-setosa
45   4.8  3.0  1.4  0.3      Iris-setosa
73   6.1  2.8  4.7  1.2  Iris-versicolor
110  6.5  3.2  5.1  2.0   Iris-virginica
43   5.0  3.5  1.6  0.6      Iris-setosa
128  6.4  2.8  5.6  2.1   Iris-virginica
131  7.9  3.8  6.4  2.0   Iris-virginica
56   6.3  3.3  4.7  1.6  Iris-versicolor
143  6.8  3.2  5.9  2.3   Iris-virginica
81   5.5  2.4  3.7  1.0  Iris-versicolor
18   5.7  3.8  1.7  0.3      Iris-setosa
59   5.2  2.7  3.9  1.4  Iris-versicolor
41   4.5  2.3  1.3  0.3      Iris-setosa
135  7.7  3.0  6.1  2.3   Iris-virginica
116  6.5  3.0  5.5  1.8   Iris-virginica

In [21]:
a.columns=["petal height",'petal width','stem height','stem width','flower type']
a.head(20)

    petal height  petal width  stem height  stem width  flower type
0            5.1          3.5          1.4         0.2  Iris-setosa
1            4.9          3.0          1.4         0.2  Iris-setosa
2            4.7          3.2          1.3         0.2  Iris-setosa
3            4.6          3.1          1.5         0.2  Iris-setosa
4            5.0          3.6          1.4         0.2  Iris-setosa
5            5.4          3.9          1.7         0.4  Iris-setosa
6            4.6          3.4          1.4         0.3  Iris-setosa
7            5.0          3.4          1.5         0.2  Iris-setosa
8            4.4          2.9          1.4         0.2  Iris-setosa
9            4.9          3.1          1.5         0.1  Iris-setosa
10           5.4          3.7          1.5         0.2  Iris-setosa
11           4.8          3.4          1.6         0.2  Iris-setosa
12           4.8          3.0          1.4         0.1  Iris-setosa
13           4.3          3.0          1.1         0.1  Iris-setosa
14           5.8          4.0          1.2         0.2  Iris-setosa
15           5.7          4.4          1.5         0.4  Iris-setosa
16           5.4          3.9          1.3         0.4  Iris-setosa
17           5.1          3.5          1.4         0.3  Iris-setosa
18           5.7          3.8          1.7         0.3  Iris-setosa
19           5.1          3.8          1.5         0.3  Iris-setosa

In [22]:
a.describe()     #give stats/insight of data

       petal height  petal width  stem height  stem width
count    150.000000   150.000000   150.000000  150.000000
mean       5.843333     3.054000     3.758667    1.198667
std        0.828066     0.433594     1.764420    0.763161
min        4.300000     2.000000     1.000000    0.100000
25%        5.100000     2.800000     1.600000    0.300000
50%        5.800000     3.000000     4.350000    1.300000
75%        6.400000     3.300000     5.100000    1.800000
max        7.900000     4.400000     6.900000    2.500000

In [24]:
print(a)

     petal height  petal width  stem height  stem width     flower type
0             5.1          3.5          1.4         0.2     Iris-setosa
1             4.9          3.0          1.4         0.2     Iris-setosa
2             4.7          3.2          1.3         0.2     Iris-setosa
3             4.6          3.1          1.5         0.2     Iris-setosa
4             5.0          3.6          1.4         0.2     Iris-setosa
5             5.4          3.9          1.7         0.4     Iris-setosa
6             4.6          3.4          1.4         0.3     Iris-setosa
7             5.0          3.4          1.5         0.2     Iris-setosa
8             4.4          2.9          1.4         0.2     Iris-setosa
9             4.9          3.1          1.5         0.1     Iris-setosa
10            5.4          3.7          1.5         0.2     Iris-setosa
11            4.8          3.4          1.6         0.2     Iris-setosa
12            4.8          3.0          1.4         0.1     Iris-setosa
13            4.3          3.0          1.1         0.1     Iris-setosa
14            5.8          4.0          1.2         0.2     Iris-setosa
15            5.7          4.4          1.5         0.4     Iris-setosa
16            5.4          3.9          1.3         0.4     Iris-setosa
17            5.1          3.5          1.4         0.3     Iris-setosa
18            5.7          3.8          1.7         0.3     Iris-setosa
19            5.1          3.8          1.5         0.3     Iris-setosa
20            5.4          3.4          1.7         0.2     Iris-setosa
21            5.1          3.7          1.5         0.4     Iris-setosa
22            4.6          3.6          1.0         0.2     Iris-setosa
23            5.1          3.3          1.7         0.5     Iris-setosa
24            4.8          3.4          1.9         0.2     Iris-setosa
25            5.0          3.0          1.6         0.2     Iris-setosa
26            5.0          3.4          1.6         0.4     Iris-setosa
27            5.2          3.5          1.5         0.2     Iris-setosa
28            5.2          3.4          1.4         0.2     Iris-setosa
29            4.7          3.2          1.6         0.2     Iris-setosa
..            ...          ...          ...         ...             ...
120           6.9          3.2          5.7         2.3  Iris-virginica
121           5.6          2.8          4.9         2.0  Iris-virginica
122           7.7          2.8          6.7         2.0  Iris-virginica
123           6.3          2.7          4.9         1.8  Iris-virginica
124           6.7          3.3          5.7         2.1  Iris-virginica
125           7.2          3.2          6.0         1.8  Iris-virginica
126           6.2          2.8          4.8         1.8  Iris-virginica
127           6.1          3.0          4.9         1.8  Iris-virginica
128           6.4          2.8          5.6         2.1  Iris-virginica
129           7.2          3.0          5.8         1.6  Iris-virginica
130           7.4          2.8          6.1         1.9  Iris-virginica
131           7.9          3.8          6.4         2.0  Iris-virginica
132           6.4          2.8          5.6         2.2  Iris-virginica
133           6.3          2.8          5.1         1.5  Iris-virginica
134           6.1          2.6          5.6         1.4  Iris-virginica
135           7.7          3.0          6.1         2.3  Iris-virginica
136           6.3          3.4          5.6         2.4  Iris-virginica
137           6.4          3.1          5.5         1.8  Iris-virginica
138           6.0          3.0          4.8         1.8  Iris-virginica
139           6.9          3.1          5.4         2.1  Iris-virginica
140           6.7          3.1          5.6         2.4  Iris-virginica
141           6.9          3.1          5.1         2.3  Iris-virginica
142           5.8          2.7          5.1         1.9  Iris-virginica
143           6.8          3.2          5.9         2.3  Iris-virginica
144           6.7          3.3          5.7         2.5  Iris-virginica
145           6.7          3.0          5.2         2.3  Iris-virginica
146           6.3          2.5          5.0         1.9  Iris-virginica
147           6.5          3.0          5.2         2.0  Iris-virginica
148           6.2          3.4          5.4         2.3  Iris-virginica
149           5.9          3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [26]:
a.dtypes      #dtype of each col

petal height    float64
petal width     float64
stem height     float64
stem width      float64
flower type      object
dtype: object

In [27]:
a.shape

(150, 5)

In [28]:
type(a)

pandas.core.frame.DataFrame

In [29]:
a['petal height']    #print col with this name

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
10     5.4
11     4.8
12     4.8
13     4.3
14     5.8
15     5.7
16     5.4
17     5.1
18     5.7
19     5.1
20     5.4
21     5.1
22     4.6
23     5.1
24     4.8
25     5.0
26     5.0
27     5.2
28     5.2
29     4.7
      ...
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: petal height, Length: 150, dtype: float64

In [30]:
a['flower type']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
5         Iris-setosa
6         Iris-setosa
7         Iris-setosa
8         Iris-setosa
9         Iris-setosa
10        Iris-setosa
11        Iris-setosa
12        Iris-setosa
13        Iris-setosa
14        Iris-setosa
15        Iris-setosa
16        Iris-setosa
17        Iris-setosa
18        Iris-setosa
19        Iris-setosa
20        Iris-setosa
21        Iris-setosa
22        Iris-setosa
23        Iris-setosa
24        Iris-setosa
25        Iris-setosa
26        Iris-setosa
27        Iris-setosa
28        Iris-setosa
29        Iris-setosa
            ...
120    Iris-virginica
121    Iris-virginica
122    Iris-virginica
123    Iris-virginica
124    Iris-virginica
125    Iris-virginica
126    Iris-virginica
127    Iris-virginica
128    Iris-virginica
129    Iris-virginica
130    Iris-virginica
131    Iris-virginica
132    Iris-virginica
133    Iris-virginica
134    Iris-virginica
135    Iris-virginica
136    Iris-virginica
137    Iris-virginica
138    Iris-virginica
139    Iris-virginica
140    Iris-virginica
141    Iris-virginica
142    Iris-virginica
143    Iris-virginica
144    Iris-virginica
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: flower type, Length: 150, dtype: object

In [31]:
a[a.columns[0]]      #0th col without using its name

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
10     5.4
11     4.8
12     4.8
13     4.3
14     5.8
15     5.7
16     5.4
17     5.1
18     5.7
19     5.1
20     5.4
21     5.1
22     4.6
23     5.1
24     4.8
25     5.0
26     5.0
27     5.2
28     5.2
29     4.7
      ...
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: petal height, Length: 150, dtype: float64

In [32]:
a[a.columns[2]]

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
5      1.7
6      1.4
7      1.5
8      1.4
9      1.5
10     1.5
11     1.6
12     1.4
13     1.1
14     1.2
15     1.5
16     1.3
17     1.4
18     1.7
19     1.5
20     1.7
21     1.5
22     1.0
23     1.7
24     1.9
25     1.6
26     1.6
27     1.5
28     1.4
29     1.6
      ...
120    5.7
121    4.9
122    6.7
123    4.9
124    5.7
125    6.0
126    4.8
127    4.9
128    5.6
129    5.8
130    6.1
131    6.4
132    5.6
133    5.1
134    5.6
135    6.1
136    5.6
137    5.5
138    4.8
139    5.4
140    5.6
141    5.1
142    5.1
143    5.9
144    5.7
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: stem height, Length: 150, dtype: float64

In [36]:
a[0:3]   #row 0 to 2

   petal height  petal width  stem height  stem width  flower type
0           5.1          3.5          1.4         0.2  Iris-setosa
1           4.9          3.0          1.4         0.2  Iris-setosa
2           4.7          3.2          1.3         0.2  Iris-setosa

In [37]:
a.iloc[1:3,0:2]    #row 1 to 2, col 0 to 1

   petal height  petal width
1           4.9          3.0
2           4.7          3.2

In [43]:
a.iloc[2:3]   #only 1 row i.e 2th row here

   petal height  petal width  stem height  stem width  flower type
2           4.7          3.2          1.3         0.2  Iris-setosa

In [40]:
a.iloc[1:3]    #1to 2 rows

   petal height  petal width  stem height  stem width  flower type
1           4.9          3.0          1.4         0.2  Iris-setosa
2           4.7          3.2          1.3         0.2  Iris-setosa

In [42]:
a.iloc[:,0:3]   #0 to 2 cols of all rows

     petal height  petal width  stem height
0             5.1          3.5          1.4
1             4.9          3.0          1.4
2             4.7          3.2          1.3
3             4.6          3.1          1.5
4             5.0          3.6          1.4
5             5.4          3.9          1.7
6             4.6          3.4          1.4
7             5.0          3.4          1.5
8             4.4          2.9          1.4
9             4.9          3.1          1.5
10            5.4          3.7          1.5
11            4.8          3.4          1.6
12            4.8          3.0          1.4
13            4.3          3.0          1.1
14            5.8          4.0          1.2
15            5.7          4.4          1.5
16            5.4          3.9          1.3
17            5.1          3.5          1.4
18            5.7          3.8          1.7
19            5.1          3.8          1.5
20            5.4          3.4          1.7
21            5.1          3.7          1.5
22            4.6          3.6          1.0
23            5.1          3.3          1.7
24            4.8          3.4          1.9
25            5.0          3.0          1.6
26            5.0          3.4          1.6
27            5.2          3.5          1.5
28            5.2          3.4          1.4
29            4.7          3.2          1.6
..            ...          ...          ...
120           6.9          3.2          5.7
121           5.6          2.8          4.9
122           7.7          2.8          6.7
123           6.3          2.7          4.9
124           6.7          3.3          5.7
125           7.2          3.2          6.0
126           6.2          2.8          4.8
127           6.1          3.0          4.9
128           6.4          2.8          5.6
129           7.2          3.0          5.8
130           7.4          2.8          6.1
131           7.9          3.8          6.4
132           6.4          2.8          5.6
133           6.3          2.8          5.1
134           6.1          2.6          5.6
135           7.7          3.0          6.1
136           6.3          3.4          5.6
137           6.4          3.1          5.5
138           6.0          3.0          4.8
139           6.9          3.1          5.4
140           6.7          3.1          5.6
141           6.9          3.1          5.1
142           5.8          2.7          5.1
143           6.8          3.2          5.9
144           6.7          3.3          5.7
145           6.7          3.0          5.2
146           6.3          2.5          5.0
147           6.5          3.0          5.2
148           6.2          3.4          5.4
149           5.9          3.0          5.1

[150 rows x 3 columns]

In [45]:
a.iloc[1:2,:]=0      #to change value.
a.iloc[1:2,:]

   petal height  petal width  stem height  stem width flower type
1           0.0          0.0          0.0         0.0           0

In [1]:
a.drop(0)

NameError: name 'a' is not defined