In [146]:
from sklearn import datasets

In [147]:
import pandas as pd

In [148]:
iris=datasets.load_iris()

In [149]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)

In [150]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [151]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [152]:
df.shape

(150, 4)

In [153]:
#email

In [154]:
for i in range(0,150,1):
    if df.loc[i]['sepal length (cm)']<5.100000:
        df.loc[i]['sepal length (cm)']=0
    if df.loc[i]['sepal length (cm)']<5.800000:
        df.loc[i,'sepal length (cm)']=1
    if df.loc[i]['sepal length (cm)']<6.400000:
        df.loc[i]['sepal length (cm)']=2
    else:
        df.loc[i]['sepal length (cm)']=3

In [155]:
df['sepal length (cm)'].unique()

array([2., 3.])

In [156]:
for i in range(0,150,1):
    if df.loc[i]['sepal width (cm)']<2.800000:
        df.loc[i]['sepal width (cm)']=0
    elif df.loc[i]['sepal width (cm)']<3.000000:
        df.loc[i]['sepal width (cm)']=1
    elif df.loc[i]['sepal width (cm)']<3.300000:
        df.loc[i]['sepal width (cm)']=2
    else:
        df.loc[i]['sepal width (cm)']=3

In [157]:
df['sepal width (cm)'].unique()

array([3., 2., 1., 0.])

In [158]:
for i in range(0,150,1):
    if df.loc[i]['petal length (cm)']<1.600000:
        df.loc[i]['petal length (cm)']=0
    elif df.loc[i]['petal length (cm)']<4.350000:
        df.loc[i]['petal length (cm)']=1
    elif df.loc[i]['petal length (cm)']<5.100000:
        df.loc[i]['petal length (cm)']=2
    else:
        df.loc[i]['petal length (cm)']=3

In [159]:
df['petal length (cm)'].unique()

array([0., 1., 2., 3.])

In [160]:
for i in range(0,150,1):
    if df.loc[i]['petal width (cm)']<0.300000:
        df.loc[i]['petal width (cm)']=0
    elif df.loc[i]['petal width (cm)']<1.300000:
        df.loc[i]['petal width (cm)']=1
    elif df.loc[i]['petal width (cm)']<1.800000:
        df.loc[i]['petal width (cm)']=2
    else:
        df.loc[i,'petal width (cm)']=3

In [161]:
df['petal width (cm)'].unique()

array([0., 1., 2., 3.])

In [162]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  2.0               3.0                0.0               0.0
1                  2.0               2.0                0.0               0.0
2                  2.0               2.0                0.0               0.0
3                  2.0               2.0                0.0               0.0
4                  2.0               3.0                0.0               0.0
5                  2.0               3.0                1.0               1.0
6                  2.0               3.0                0.0               1.0
7                  2.0               3.0                0.0               0.0
8                  2.0               1.0                0.0               0.0
9                  2.0               2.0                0.0               0.0
10                 2.0               3.0                0.0               0.0
11                 2.0               3.0                1.0               0.0
12                 2.0               2.0                0.0               0.0
13                 2.0               2.0                0.0               0.0
14                 2.0               3.0                0.0               0.0
15                 2.0               3.0                0.0               1.0
16                 2.0               3.0                0.0               1.0
17                 2.0               3.0                0.0               1.0
18                 2.0               3.0                1.0               1.0
19                 2.0               3.0                0.0               1.0
20                 2.0               3.0                1.0               0.0
21                 2.0               3.0                0.0               1.0
22                 2.0               3.0                0.0               0.0
23                 2.0               3.0                1.0               1.0
24                 2.0               3.0                1.0               0.0
25                 2.0               2.0                1.0               0.0
26                 2.0               3.0                1.0               1.0
27                 2.0               3.0                0.0               0.0
28                 2.0               3.0                0.0               0.0
29                 2.0               2.0                1.0               0.0
..                 ...               ...                ...               ...
120                3.0               2.0                3.0               3.0
121                2.0               1.0                2.0               3.0
122                3.0               1.0                3.0               3.0
123                2.0               0.0                2.0               3.0
124                3.0               3.0                3.0               3.0
125                3.0               2.0                3.0               3.0
126                2.0               1.0                2.0               3.0
127                2.0               2.0                2.0               3.0
128                3.0               1.0                3.0               3.0
129                3.0               2.0                3.0               2.0
130                3.0               1.0                3.0               3.0
131                3.0               3.0                3.0               3.0
132                3.0               1.0                3.0               3.0
133                2.0               1.0                3.0               2.0
134                2.0               0.0                3.0               2.0
135                3.0               2.0                3.0               3.0
136                2.0               3.0                3.0               3.0
137                3.0               2.0                3.0               3.0
138                2.0               2.0                2.0               3.0
139                3.0               2.0                3.0               3.0
140                3.0               2.0                3.0               3.0
141                3.0               2.0                3.0               3.0
142                2.0               0.0                3.0               3.0
143                3.0               2.0                3.0               3.0
144                3.0               3.0                3.0               3.0
145                3.0               2.0                3.0               3.0
146                2.0               0.0                2.0               3.0
147                3.0               2.0                3.0               3.0
148                2.0               3.0                3.0               3.0
149                2.0               2.0                3.0               3.0

[150 rows x 4 columns]

In [163]:
y=iris.target

In [164]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [165]:
dic={}

In [ ]:
dic[0][0][0]