In [1]:
l = [1,2,3,]

In [4]:
l[0] = 10

In [6]:
l

[10, 2, 3]

In [8]:
l.append([1,2])

In [10]:
l.append(1)

In [14]:
l[3][0]

1

In [16]:
len(l)

6

In [18]:
l

[10, 2, 3, [1, 2], [1, 2], 1]

In [22]:
a = l +l

In [25]:
l[4].append(1)

In [31]:
[3 * i for i in l]

[30, 6, 9, [1, 2, 1, 2, 1, 2], [1, 2, 1, 1, 2, 1, 1, 2, 1], 3]

In [33]:
l = [1,2,3,4,5,1,2,3]

In [35]:
l.sort()

In [38]:
l.insert(0,12)

In [40]:
l

[12, 12, 1, 1, 2, 2, 3, 3, 4, 5]

In [41]:
s = 5

In [45]:
input_list = []
for i in range(s):
    num = int(input())
    input_list.append(num)
input_list

1 2 3 4 5

ValueError: invalid literal for int() with base 10: '1 2 3 4 5'

In [46]:
line = input()

1 2 3 4 5

In [53]:
input()
l = [int(i) for i in input().split()]

5
5 4 3 2 1

In [54]:
[0 for i in range(10)]

SyntaxError: invalid syntax (<ipython-input-54-7e7190c45493>, line 1)

In [58]:
[[i*j for j in range(5)] for i in range(10)]

[[0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4],
 [0, 2, 4, 6, 8],
 [0, 3, 6, 9, 12],
 [0, 4, 8, 12, 16],
 [0, 5, 10, 15, 20],
 [0, 6, 12, 18, 24],
 [0, 7, 14, 21, 28],
 [0, 8, 16, 24, 32],
 [0, 9, 18, 27, 36]]

In [59]:
def equi_index(l):
    for i in range(len(l)):
        leftSum = 0
        for j in range(i):
            leftSum += l[j]
        rightSum = 0
        for j in range(i + 1, len(l)):
            rightSum += l[j]
        if leftSum == rightSum:
            return i
    return -1

In [ ]:
def equi_index2(l):
    sum = 0
    for i in l:
        sum += i
    leftSum = 0
    for i in range(len(l)):
        rightSum = sum - leftSum - l[i]
        if (leftSum == rightSum):
            return i
        leftSum += l[i]
    return -1

In [60]:
equi_index([-7,1,5,2,-4,3,0])

3

In [61]:
d = {2:3,"the":5,"abc":4,3.4:"pi"}

In [65]:
d[1] = 10

In [68]:
d[2] = "as"

In [70]:
d

{2: 'as', 'the': 5, 'abc': 4, 3.4: 'pi', 1: 10}

In [73]:
del d[2]

KeyError: 2

In [74]:
d

{'the': 5, 'abc': 4, 3.4: 'pi', 1: 10}

In [76]:
d.pop('the')

5

In [78]:
d

{'abc': 4, 3.4: 'pi', 1: 10}

In [80]:
'abc' in d

True

In [84]:
d.keys()

dict_keys(['abc', 3.4, 1])

In [86]:
d.values()

dict_values([4, 'pi', 10])

In [87]:
d.items()

dict_items([('abc', 4), (3.4, 'pi'), (1, 10)])

In [88]:
type(d)

dict

In [91]:
for i in d:
    print(i, d[i])

abc 4
3.4 pi
1 10

In [95]:
for k, v in d.items():
    print(k, v)

abc 4
3.4 pi
1 10

In [99]:
a = {1:3, 6:4}

In [100]:
d.update(a)

In [101]:
d

{'abc': 4, 3.4: 'pi', 1: 3, 6: 4}

In [114]:
import math as m

In [115]:
m.sqrt(10)

3.1622776601683795

In [107]:
import numpy as np

In [109]:
a = np.zeros(10)

In [116]:
a.dtype

dtype('float64')

In [125]:
a[1]=  2 + 3j

TypeError: can't convert complex to float

In [126]:
a

array([ 0. ,  3.4,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ])

In [128]:
b = np.zeros(10, dtype='int')

In [131]:
b.dtype

dtype('int64')

In [138]:
b = np.array([1,2.3,"4", "abc"])

In [140]:
a.mean()

0.33999999999999997

In [142]:
a.shape

(10,)

In [147]:
marray = np.zeros((10,1))

In [149]:
marray.shape

(10, 1)

In [151]:
a = np.array([1,2,3])
b = np.array([2, 4, 5])

In [154]:
a + b, a - b, a * b

(array([3, 6, 8]), array([-1, -2, -2]), array([ 2,  8, 15]))

In [156]:
a ** 2

array([1, 4, 9])

In [160]:
a = np.array([1,2,3])
b = np.array([2,4])
a + b

ValueError: operands could not be broadcast together with shapes (3,) (2,)

In [169]:
a = np.zeros((3,4))
b = np.ones((1,1))
a * b

array([[ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.]])

In [172]:
a = np.array([2,3,4,5,6])
b = np.array([1,3,5,7,9])

In [173]:
sum((a - b)**2)

15

In [174]:
((a - a.mean())**2).mean()

2.0

In [175]:
np.var(a)

2.0

In [177]:
a = np.array([[1,2,3], [3,4,5]])
b = np.array([[1,2],[3,4],[7,8]])
a.dot(b)

array([[28, 34],
       [50, 62]])

In [182]:
a = np.array([1,2,3], dtype='int')
a.astype(float)

array([ 1.,  2.,  3.])

In [185]:
a = np.array([1,2,3.4])
a.astype(int)

array([1, 2, 3])

In [187]:
l = [1,2,3,4,3,3,2,3,4,1]

In [188]:
d = {}
for i in l:
    if i in d:
        d[i] += 1
    else:
        d[i] = 1
d

{1: 2, 2: 2, 3: 4, 4: 2}

In [194]:
d = {}
for i in l:
    d[i] = d.get(i, 0) + 1
d

{1: 2, 2: 2, 3: 4, 4: 2}

In [192]:
print(d.get(5, 0))

None

In [195]:
import pandas as pd

In [222]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", header=None)

In [210]:
iris.shape

(150, 5)

In [211]:
iris.columns = ['sl', 'sw', 'pl', 'pw', 'type']

In [213]:
iris.head()

    sl   sw   pl   pw         type
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [215]:
iris.describe()

               sl          sw          pl          pw
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [216]:
iris.dtypes

sl      float64
sw      float64
pl      float64
pw      float64
type     object
dtype: object

In [217]:
iris.shape

(150, 5)

In [219]:
type(iris), type(iris['sw'])

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [221]:
iris.sw
iris['sw']

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
5      3.9
6      3.4
7      3.4
8      2.9
9      3.1
10     3.7
11     3.4
12     3.0
13     3.0
14     4.0
15     4.4
16     3.9
17     3.5
18     3.8
19     3.8
20     3.4
21     3.7
22     3.6
23     3.3
24     3.4
25     3.0
26     3.4
27     3.5
28     3.4
29     3.2
      ...
120    3.2
121    2.8
122    2.8
123    2.7
124    3.3
125    3.2
126    2.8
127    3.0
128    2.8
129    3.0
130    2.8
131    3.8
132    2.8
133    2.8
134    2.6
135    3.0
136    3.4
137    3.1
138    3.0
139    3.1
140    3.1
141    3.1
142    2.7
143    3.2
144    3.3
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sw, dtype: float64

In [226]:
iris[iris.columns[2]]

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
5      1.7
6      1.4
7      1.5
8      1.4
9      1.5
10     1.5
11     1.6
12     1.4
13     1.1
14     1.2
15     1.5
16     1.3
17     1.4
18     1.7
19     1.5
20     1.7
21     1.5
22     1.0
23     1.7
24     1.9
25     1.6
26     1.6
27     1.5
28     1.4
29     1.6
      ...
120    5.7
121    4.9
122    6.7
123    4.9
124    5.7
125    6.0
126    4.8
127    4.9
128    5.6
129    5.8
130    6.1
131    6.4
132    5.6
133    5.1
134    5.6
135    6.1
136    5.6
137    5.5
138    4.8
139    5.4
140    5.6
141    5.1
142    5.1
143    5.9
144    5.7
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: 2, dtype: float64

In [237]:
iris[1:3]

     0   1    2    3            4
1  4.9 NaN  1.4  0.2  Iris-setosa
2  4.7 NaN  1.3  0.2  Iris-setosa

In [235]:
iris.iloc[1:3, 1:2] = np.nan

In [236]:
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  NaN  1.4  0.2     Iris-setosa
2    4.7  NaN  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
5    5.4  3.9  1.7  0.4     Iris-setosa
6    4.6  3.4  1.4  0.3     Iris-setosa
7    5.0  3.4  1.5  0.2     Iris-setosa
8    4.4  2.9  1.4  0.2     Iris-setosa
9    4.9  3.1  1.5  0.1     Iris-setosa
10   5.4  3.7  1.5  0.2     Iris-setosa
11   4.8  3.4  1.6  0.2     Iris-setosa
12   4.8  3.0  1.4  0.1     Iris-setosa
13   4.3  3.0  1.1  0.1     Iris-setosa
14   5.8  4.0  1.2  0.2     Iris-setosa
15   5.7  4.4  1.5  0.4     Iris-setosa
16   5.4  3.9  1.3  0.4     Iris-setosa
17   5.1  3.5  1.4  0.3     Iris-setosa
18   5.7  3.8  1.7  0.3     Iris-setosa
19   5.1  3.8  1.5  0.3     Iris-setosa
20   5.4  3.4  1.7  0.2     Iris-setosa
21   5.1  3.7  1.5  0.4     Iris-setosa
22   4.6  3.6  1.0  0.2     Iris-setosa
23   5.1  3.3  1.7  0.5     Iris-setosa
24   4.8  3.4  1.9  0.2     Iris-setosa
25   5.0  3.0  1.6  0.2     Iris-setosa
26   5.0  3.4  1.6  0.4     Iris-setosa
27   5.2  3.5  1.5  0.2     Iris-setosa
28   5.2  3.4  1.4  0.2     Iris-setosa
29   4.7  3.2  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
120  6.9  3.2  5.7  2.3  Iris-virginica
121  5.6  2.8  4.9  2.0  Iris-virginica
122  7.7  2.8  6.7  2.0  Iris-virginica
123  6.3  2.7  4.9  1.8  Iris-virginica
124  6.7  3.3  5.7  2.1  Iris-virginica
125  7.2  3.2  6.0  1.8  Iris-virginica
126  6.2  2.8  4.8  1.8  Iris-virginica
127  6.1  3.0  4.9  1.8  Iris-virginica
128  6.4  2.8  5.6  2.1  Iris-virginica
129  7.2  3.0  5.8  1.6  Iris-virginica
130  7.4  2.8  6.1  1.9  Iris-virginica
131  7.9  3.8  6.4  2.0  Iris-virginica
132  6.4  2.8  5.6  2.2  Iris-virginica
133  6.3  2.8  5.1  1.5  Iris-virginica
134  6.1  2.6  5.6  1.4  Iris-virginica
135  7.7  3.0  6.1  2.3  Iris-virginica
136  6.3  3.4  5.6  2.4  Iris-virginica
137  6.4  3.1  5.5  1.8  Iris-virginica
138  6.0  3.0  4.8  1.8  Iris-virginica
139  6.9  3.1  5.4  2.1  Iris-virginica
140  6.7  3.1  5.6  2.4  Iris-virginica
141  6.9  3.1  5.1  2.3  Iris-virginica
142  5.8  2.7  5.1  1.9  Iris-virginica
143  6.8  3.2  5.9  2.3  Iris-virginica
144  6.7  3.3  5.7  2.5  Iris-virginica
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]