In [11]:
import pandas as pd
diabetes=pd.read_csv("training_diabetes_x_y_train (1).csv")
x_train=diabetes.iloc[:,0:10]    #since col 0 to 9 contain input, use it as x_train
y_train=diabetes.iloc[:,10:11]    #last col represent output/Y it is y tain
from sklearn.linear_model import LinearRegression
diabetes_lr=LinearRegression()
diabetes_lr.fit(x_train,y_train)

#test data
diabetes_test=pd.read_csv("test_diabetes_x_test.csv")
xp=diabetes_test.iloc[:,0:10]
import numpy as np
yp=diabetes_lr.predict(xp)
yp=np.around(yp,decimals=5)    #yp is np array, to round off to 5 decimal places.

df=pd.DataFrame(yp)
df.to_csv("Solution.csv",index=False,encoding='utf-8')
ans=pd.read_csv("Solution.csv")
ans

             0
0    105.80392
1    178.60857
2     79.38288
3     52.95869
4     98.87264
5    150.71755
6     34.86515
7    113.13536
8    161.50184
9    135.86156
10    94.71592
11   138.48094
12   141.37442
13   158.76863
14   171.65289
15   106.44836
16   103.92660
17    95.38694
18   167.40118
19   166.53426
20   101.53465
21   252.45036
22   147.02259
23   214.78907
24   161.27557
25   210.61315
26    71.78092
27   189.65032
28   206.61343
29   219.98643
..         ...
80   119.41032
81   145.86620
82   206.19247
83   150.86282
84   142.23222
85   154.56875
86   115.29233
87   134.07810
88   118.42225
89   203.57676
90   170.66484
91   127.40980
92    57.13508
93   231.92227
94   185.20714
95   187.37495
96    83.55921
97   185.42586
98   217.34036
99   108.86715
100   80.98715
101  127.05524
102  242.00739
103  155.97234
104  125.67575
105  246.41236
106  234.96393
107  191.51298
108  168.33254
109  163.02965

[110 rows x 1 columns]